<div class="timeline">
	<section class="current">
		<span class="title">
			<h4>Currently</h4>
		</span>
		<ul class="content">
			<li>
				<p class="object">Walking through Harvard’s Data Science <a href="#">course</a>.</p>
				<p class="description">Python, statistical modelling, machine learning</p>
			</li>
			<li>
				<p class="object">Building my personal <a href="#">website</a>.</p>
				<p class="description">Photoshop, Illustrator, Ruby on Rails, Git</p>
			</li>
		</ul>
	</section>
	<section class="recently">
		<span class="title">
			<h4>Recently</h4>
		</span>
		<ul class="content">
			<li>
				<p class="object">Travelled throughout Eastern Europe and Southeast Asia.</p>
			</li>
			<li>
				<p class="object">Interned at <a href="#">SV Angel</a> in San Francisco.</p>
				<p class="description">Due dilligence, pitch decks, early stage investments.</p>
			</li>
		</ul>
	</section>
	<section class="past">
		<span class="title">
			<h4>Past</h4>
		</span>
		<ul class="content">
			<li>
				<p class="object">Graduated from <a href="#">Santa Clara University</a></p>
				<p class="description">Bioengineering, entrepreneurship, chemistry</p>
			</li>
			<li>
				<p class="object"><a href="#">Spree: Mobile Marketplace for Students</a></p>
				<p class="description">Objective-C, Sketch</p>
			</li>
		</ul>
	</section>
</div>