<div class="bottom_border">
	<div id="intro_statement">
		<h2>Riley Parsons is a recent graduate of <a href="#">Santa Clara University</a>. He is currently looking for work at venture capital firms and digital health startups.</h2>
	</div>
</div>
<div class="wrapper wrapper">
	<%= render "timeline" %>
</div>