<div class="bottom_border">
	<div id="page_title">
		<h3>Get in touch.</h3>
	</div>
</div>

<div class="wrapper wrapper_padding">
	<h1>Thanks for reaching out!</h1>
	<p>I'll get back to you soon.</p>
</div>