$dark: #44484c;
$light: #889098;
$highlight: #ffc963;

.timeline{
	padding: 2.5em 0;

	a {
		background: hsla(39, 100%, 69%, .3);
		padding: 1px;
		&:hover{
			background: hsla(39, 100%, 69%, .5);
		}
	}
	
	li {
		list-style: none;
		margin-bottom: 35px;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	.title p{
		font-size: .9em;
		font-weight: 300;
		color: $light;
		margin: 0;
	}

	div.description {
		p {
			margin-bottom: 0px;
		}
	}

	p.skills{
		text-transform: uppercase;
		margin-top: 0px;
		font-weight: 300;
		font-size: .8em;
		margin-bottom: 0;
	}

	>section{
		display: flex;
		align-items: baseline;
		justify-content: space-between;

		@include tablet-portrait-and-below {
			flex-direction: column;
		}
	}

	.content{
		width: 500px;
		@include tablet-portrait-and-below {
			width: auto;
		}
	}

	#admin_section {
		a {
			background-color: transparent;
			font-weight: 700;
			font-size: .8em;
			text-decoration: none;
		}
	}

}

hr {
	width: 3em;
	height: 2px;
	border: 0;
	border-top: 2px solid $highlight;
	margin: 1rem auto 3em auto;
}

#download_CV_box {
	text-align: center;
	a {
		background-color: transparent;
		&:hover {
		color: $highlight;
		}
	}
}

#intro_statement {
	h2 {
		line-height: 1.75
	}

	max-width: $mq-tablet-portrait;
	margin: 100px auto;

	@include tablet-portrait-and-below {
		margin: 100px 30px
	}

	a {
		background: hsla(39, 100%, 69%, .3);
		padding: 1px;
		&:hover{
			background: hsla(39, 100%, 69%, .5);
		}
	}
}